@import '../../../sass/_variables.sass'

#hero
  height: 421px
  display: flex
  align-items: center
  .hero
    position: absolute
    width: 748px
    height: 421px
    right: 0
    top: -16px
    background-image: url($urlHero)
    border-radius: 0px 0px 0px 180px
    background-size: cover
  .hero-text
    position: relative
    .text-header
      width: 450px
      padding-top: 50px
      font-weight: bold
      font-size: 50px
      line-height: 59px
      color: $colorSecondary
      .bg-blue
        color: $colorPrimary

